*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family:monospace,sans-serif;
    font-weight:950;
    position: relative;
}

ul{
    list-style-type: none;
}

li{
    background-color: white;
    border:solid transparent;
    padding: .5rem .8rem;
    border-radius: 100%;
}

.flex{
    display: flex;
}

.bg-red{
    background-color: red;

}

.bg-green{
    background-color: green;
   
}

.bg-yellow{
    background-color: yellow;

}

.yellow{
    color: yellow;
}

.green{
    color: green;
}


header{
    justify-content: end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
}

header nav ul li{
    display: inline-block;
    margin: 1rem;
}

.products{
    height: 100vh;
}

article{
    justify-content: center;
    align-items: center;
}

div.shoes{
    flex-direction: column;
    padding-bottom: 8rem;
    font-size: x-large;
}

div.shoes>h1{
        font-size: 3rem;
        text-align: center;
    
}

